.social__login
    button.social-login--github
        a(href=routes.githubAuth)
            span
                i.fab.fa-github
            | Continue with github
    button.social-login--google
        a(href=routes.googleAuth)
            span
                i.fab.fa-google
            | Continue with Google