extends layouts/main.pug

block content
    .form-container
    form(action=routes.login type="POST")
        input(type="password" placeholder="Current password" name="currentPassword")
        input(type="password" placeholder="New password" name="newPassword")
        input(type="password" placeholder="Verify password" name="verifiedPassword")
        input(type="submit" value="Change Password")